

.radialChart__legend {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 8px;
    
    .radialChart__legend-value {
        font-weight: 700;
        font-size: 26px;
        margin-left:18px;
    
    }
    
    .radialChart__legend-label {
        margin-left:15px;
        width: 80%;
        color:#74798c;
        font-weight: 500;
        font-size: 16px;
    
    }
}