.nutrients-container {
    display: flex;
    background-color: #FBFBFB;
    gap:20px;
    padding: 25px;
    width: 100%;

    img {
        height: 60px;
        width: 60px;
     
    }
    .nutrients-info {
        display: flex;
        flex-direction: column;

        .nutrient-value {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
        }
        .nutrient-name {
            color: #74798c;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1100px) {

    .nutrients-container {
        padding: 16px;
        
        img {
            height: 46px;
            width: 46px;
         
        }
    }
}