.dashboard-container {
    padding:60px;
    .dashboard-main-container {
        display: flex;
        flex-direction: row;
        gap:30px;

        .dashboard-charts-container {
            display: flex;
            flex-direction: column;
            width: 58%;
            min-width: 835px;
            .dashboard-small-charts-container {
                display: flex;
                flex-direction: row;
                gap:30px;
            }
        }
        .all-nutrients-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

