.dashboard-container {
    padding-left:60px;
    padding-bottom:80px;
    padding-top: 36px;
    width: 100%;

    .dashboard-main-container {
        display: flex;
        flex-direction: row;
        gap:30px;
        width: 100%;

        .dashboard-charts-container {
            display: flex;
            flex-direction: column;
            width: 76%;
            .dashboard-small-charts-container {
                display: flex;
                flex-direction: row;
                gap:25px;
            }
           
        }
        .all-nutrients-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {

    .dashboard-container {
        padding-left:24px;
        padding-bottom:48px;
        padding-top: 20px;
        .dashboard-main-container {
            gap:16px;

            .dashboard-charts-container {
                width: 76%;
            }
            .all-nutrients-container {
            width: 16%;
            
        }
        }
    }

}
