main {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}
body {
    margin: 0px;

}

.all-project-container {
    width: 100%;
    min-width: 1024px;
    min-height: 780px;
    height: 100%;
}

#root {
    width: 100%;
   
    height: 100%;
}